@inherits LayoutComponentBase

<Layout Sider="true" Class="bg-light-1">
    <LayoutSider>
        <LayoutSiderContent>
            <div class="sidebar">
                <NavMenu />
            </div>
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader Fixed="true">
            <div class="top-row px-4 top-banner-main">
                <h4 class="text-light">A Place to Relive The Good Old Days </h4><img src="/Assets/Hamster.gif" class="hamster" />
            </div>
        </LayoutHeader>
        <LayoutContent>
            <div class="content">
                @Body
            </div>
        </LayoutContent>
    </Layout>
</Layout>