.light-switch-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

/*.light-switch {
    transform: rotate(90deg);
}*/

.hamster {
    height: 2em;
    width: 2em;
}

.top-banner-main {
    background-color:#3a0647;
}

.cheat {
    width: 4em;
    height: 4em;
}

.strongBad {
    width: 3em;
}
